<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hans.clevertap.firstapplication" >
    <!-- Required to allow the app to send events and user profile information -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Recommended so that CleverTap knows when to attempt a network call -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".FirstApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstApplication"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".NativeDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".InboxActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*.simobi.com" android:scheme="app" android:pathPrefix="/"/>
                <data android:host="*.banksinarmas.com" android:scheme="app" android:pathPrefix="/"/>
            </intent-filter>

        </activity>

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="RK4-45K-W56Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="354-432" />


        <!--
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="4WK-45K-W56Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="354-304" />
        !-->

        <meta-data
            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
            android:value="0" />
        <meta-data
            android:name="CLEVERTAP_REGION"
            android:value="EU1" />
        <meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1"/>



        <!--
        <service
            android:name="com.clevertap.android.sdk.pushnotification.fcm.FcmMessageListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> -->

        <service
            android:name="hans.clevertap.firstapplication.FCMHandler"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.clevertap.pushtemplates.PushTemplateMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.clevertap.pushtemplates.PTNotificationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.clevertap.PT_PUSH_EVENT"/>
            </intent-filter>
        </service>

        <receiver
            android:name="com.clevertap.pushtemplates.PTPushNotificationReceiver"
            android:exported="false"
            android:enabled="true">
        </receiver>

        <receiver
            android:name="com.clevertap.pushtemplates.PushTemplateReceiver"
            android:exported="false"
            android:enabled="true">
        </receiver>

        <!--
        <service
            android:name="com.clevertap.android.sdk.pushnotification.amp.CTBackgroundJobService"
            android:exported="false"
            android:enabled="false"
            tools:ignore="MissingClass"/>
         -->

    </application>

</manifest>